{% extends "layout.html" %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <h1>Meet Our Team!</h1>
  </div>
</div>

<!--placeholder image-->
<img src="https://static.igem.wiki/teams/4704/wiki/bigteam.png"
  style="" />

<div class="dropdown row mt-4 mb-4" 
  style="width:100%; display: flex; flex-direction: column; background-color: #d9d9d9;">
  <button class="dropdown-toggle" 
    data-bs-toggle="dropdown" aria-expanded="false" 
    style="width:100%; border: none; background-color: #d9d9d9;">
      Math and Modelling
  </button>

  <div class="dropdown-menu dropdown-block"
    style="border: none; background-color: #d9d9d9;">
    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/YangLu.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Yang Lu</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/KaelenDavis.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Yash Soobarah</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/t1.png" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Kaelen Davis</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/MunaMohamed.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Muna Mohamed</h3>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/RohanMistry.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Rohan Mistry</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/AarenArasaratnam.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Aaren Arasaratnam</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/SydneySherwood.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Sydney Sherwood</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/WallaceLee.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Wallace Lee</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dropdown row mt-4 mb-4" 
  style="width:100%; display: flex; flex-direction: column; background-color: #d9d9d9;">
  <button class="dropdown-toggle" 
    data-bs-toggle="dropdown" aria-expanded="false" 
    style="width:100%; border: none; background-color: #d9d9d9;">
      Lab & Design
  </button>
  <div class="dropdown-menu dropdown-block"
    style="border: none; background-color: #d9d9d9;">
    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/BethanyChan.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Bethany Chan</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/EmilieRichard.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Emilie Richard</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/DavidMakarczyk.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">David Makarczyk</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/emma.png" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Emma Llewellyn</h3>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/NamrataMishra.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Namrata Mishra</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/t2.png" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Ansh koduru</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/t3.png" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Joshua Khatri</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/t4.png" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Mahnoor Butt</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dropdown row mt-4 mb-4" 
  style="width:100%; display: flex; flex-direction: column; background-color: #d9d9d9;">
  <button class="dropdown-toggle" 
    data-bs-toggle="dropdown" aria-expanded="false" 
    style="width:100%; border: none; background-color: #d9d9d9;">
      Human Practices
  </button>
  <div class="dropdown-menu dropdown-block"
    style="border: none; background-color: #d9d9d9;">
    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/BriannaThomas.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Brianna Thomas</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/AmberleeMorgan.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Amberlee Morgan</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/SashaD.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Sasha Dhingra</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/SoniaZ.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Sonia Zhao</h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="dropdown row mt-4 mb-4" 
  style="width:100%; display: flex; flex-direction: column; background-color: #d9d9d9;">
  <button class="dropdown-toggle" 
    data-bs-toggle="dropdown" aria-expanded="false" 
    style="width:100%; border: none; background-color: #d9d9d9;">
      Advisors
  </button>
  <div class="dropdown-menu dropdown-block"
    style="border: none; background-color: #d9d9d9;">
    <div class="row mt-4">
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/MatthewLawson.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Matthew Lawson</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/BrianIngalls.JPG" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Brian Paul Ingalls</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/ValerieWard.jpg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Valerie Ward</h3>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mt-4 mb-4 text-center">
          <img src="https://static.igem.wiki/teams/4704/wiki/KrystaTraianovski.jpeg" class="img-fluid">      
        </div>
        <div class="row mt-4">
          <h3 class="text-center">Krysta Traianovski</h3>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
